/*------------------HOME-------------------*/
#starterScreen{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 20;
}

@keyframes fadeOut {
	0% {opacity: 100;}
	100% {opacity: 0; display: none;}
}

#starterScreen.animate{
	animation-name: fadeOut;
	animation-duration: 2s;
}

.datasEvento p{
	font-family: '.dat', Arial, sans-serif;
	font-size: 9vw;
	margin: 0px;
	position: relative;
}

.datasEvento p:nth-child(1) {
	margin-top: 0px;
}

.datasEvento p:nth-child(3) {
	margin-top: 10px;
	text-align: right;
}

.datasEvento p:nth-child(5) {
	margin-top: 10px;
	text-align: left;
}

.datasEvento p:nth-child(7) {
	margin-top: 15px;
	text-align: center;
}

.datasEvento .programa{
	position: absolute;
	width: calc(100vw - 450px - 18vw);
	margin-top: -11vw;
	z-index: 10;
	opacity: 0;
	transition: 2s;
}

.datasEvento .programa h1{
	font-size: 2vw;
	margin-top: 1.5vw;
	margin-bottom: 0.8vw;
}

.datasEvento .programa p{
	font-family: "Montserrat Semi-Bold", sans-serif;
	font-size: 1.5vw;
}

.datasEvento .programa a{
	display: block;
	text-decoration: underline;
	color: black;
	font-size: 1.3vw;
	line-height: 2vw;
}

.datasEvento .programa:nth-child(2), .datasEvento .programa:nth-child(6){
	padding-left: 10vw;
}

.datasEvento .programa:nth-child(4){
	padding-right: 10vw;
}

.datasEvento .programa:nth-child(2):hover, .datasEvento .programa:nth-child(2):active{
	opacity: 1;
	transition: 2s;
}

.datasEvento .programa:nth-child(4):hover, .datasEvento .programa:nth-child(4):active{
	opacity: 1;
	transition: 2s;
}

.datasEvento .programa:nth-child(6):hover, .datasEvento .programa:nth-child(6):active{
	opacity: 1;
	transition: 2s;
}
/*-----------------------------------------*/