/*-----------------LOCAIS------------------*/
main .mobile{
	display: none;
}

.background{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -100;
}

.background .one,.background .two,.background .three {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.3;
}

.background .one {
	background: url(https://avmendes.github.io/uni/DAT/data/darq.jpg)no-repeat center;
	background-size: cover;
	animation: fadeImage 15s infinite;
	-webkit-animation: fadeImage 15s infinite;

} 

.background .two {
	background: url(https://avmendes.github.io/uni/DAT/data/dei.jpg)no-repeat center;
	background-size: cover;
	animation: fadeImage2 15s infinite;
	-webkit-animation: fadeImage2 15s infinite;
}

.background .three {
	background: url(https://avmendes.github.io/uni/DAT/data/museu_ciencia.jpg)no-repeat center;
	background-size: cover;
	animation: fadeImage3 15s infinite;
	-webkit-animation: fadeImage3 15s infinite;
}

main .web .card{
	position: absolute;
	width: calc(100vw - ((250px + 3vw) + (200px + 5vw)));
}

main .web .card h1{
	font-size: 22pt;
	margin-bottom: 0px;
	margin-top: 0px;
}

main .web .card address{
	font-style: normal;
	font-size: 16pt;
	font-weight: normal;
	margin-top: 5px;
}

main .web .card.one{
	animation:fadeText 15s infinite;
	-webkit-animation: fadeText 15s infinite;
}

main .web .card.two{
	animation: fadeText2 15s infinite;
	-webkit-animation:fadeText2 15s infinite;
}

main .web .card.three{
	animation: fadeText3 15s infinite;
	-webkit-animation:fadeText3 15s infinite;
}

@keyframes fadeImage{
	0% {opacity: 0.3}
	20% {opacity: 0.3}
	33.333% {opacity: 0}
	66.666% {opacity: 0}
	87% {opacity: 0}
	100% {opacity: 0.3}
}

@keyframes fadeImage2{
	0% {opacity: 0}
	20% {opacity: 0}
	33.333% {opacity: 0.3}
	53% {opacity: 0.3}
	66.666% {opacity: 0}
	100% {opacity: 0}
}

@keyframes fadeImage3{
	0% {opacity: 0}
	33.333% {opacity: 0}
	53% {opacity: 0}
	66.666% {opacity: 0.3}
	87% {opacity: 0.3}
	100% {opacity: 0}
}

@keyframes fadeText{
	0% {opacity: 1}
	20% {opacity: 1}
	33.333% {opacity: 0}
	66.666% {opacity: 0}
	87% {opacity: 0}
	100% {opacity: 1}
}

@keyframes fadeText2{
	0% {opacity: 0}
	20% {opacity: 0}
	33.333% {opacity: 1}
	53% {opacity: 1}
	66.666% {opacity: 0}
	100% {opacity: 0}
}

@keyframes fadeText3{
	0% {opacity: 0}
	33.333% {opacity: 0}
	53% {opacity: 0}
	66.666% {opacity: 1}
	87% {opacity: 1}
	100% {opacity: 0}
}
/*-----------------------------------------*/