/*-----------------Mobile------------------*/
@media screen and (max-width: 700px) {
	body{
		width: 100vw;
		overflow-x: hidden;
	}

	*, legend{
		box-sizing: inherit;
	}

	header{
		position: relative;
	}

	#logo{
		width: auto;
		height: auto;
		margin-top: 0px;
	}

	#logo a{
		display: inline-block;
		position: relative;
		margin-left: 2vw;
		margin-top: 0px;
		top: -10px;
		width: 25% !important;
		height: auto !important;
		align-items: start;
	}

	#logo a #logo-gen{
		width: 100% !important;
		height: auto !important;
	}

	#complementoH{
		display: inline-block;
		width: 60%;
		height: auto;
		padding-top: 20px;
		margin-left: 20px;
	}

	#complementoV{
		display: none;
	}

	nav{
		position: relative;
		overflow-x: scroll;
		width: auto;
		height: 30px;
		right: 0px;
		top: 0px;
		background-color: black;
		float: none;
	}

	nav::-webkit-scrollbar {
		display: none;
	}

	nav .web{
		display: none;
	}

	nav .mobile{
		display: inline-block;
		position: absolute;
		width: calc(100vw + 5vw);
		height: 30px;
		background-color: black;
	}

	nav .mobile a{
		text-decoration: none;
		font-family: '.dat', Arial, sans-serif;
		font-size: 4.7vw;
		color: white;
		line-height: 30px;
		padding-left: 1.5vw;
		padding-right: 1.5vw;
	}

	nav .mobile .atual{
		background-color: white;
		color: black !important;
		border: 2.6vw solid white;
		border-left: 1vw solid white;
		border-right: 1vw solid white;
	}

	main{
		width: 100vw;
		margin: 0px;
		margin-bottom: 80px;
		padding-top: 0px;
		top: -25px;
		z-index: -10;
	}

	.separador{
		display: block;
		background-color: black;
		width: 100%;
		margin-left: 0px;
		height: 15px;
	}

	.container .evento p{
		margin-bottom: 30px;
	}

	.container .evento img{
		height: 40px;
		margin-bottom: 20px;
	}

	.container .redesSociais a{
		width: 40px;
		margin-bottom: 20px;
	}

	.container .redesSociais a img{
		width: 40px;
	}

	/*------------------HOME-------------------*/
	.datasEvento{
		margin: 40px 10vw 0px 10vw;
	}

	.datasEvento p{
		font-size: 20vw;
	}

	.datasEvento p:nth-child(1) {
		margin-top: 0px;
	}

	.datasEvento p:nth-child(3) {
		margin-right: 0px;
	}


	.datasEvento .programa{
		width: 60vw;
		margin-top: -22.5vw;
	}

	.datasEvento .programa h1{
		font-size: 4vw;
	}

	.datasEvento .programa p{
		font-size: 3vw;
	}

	.datasEvento .programa a{
		font-size: 2.8vw;
		line-height: 3.5vw;
	}

	.datasEvento .programa:nth-child(2), .datasEvento .programa:nth-child(6){
		padding-left: 25vw;
	}

	.datasEvento .programa:nth-child(4){
		padding-right: 25vw;
	}

	/*-----------------------------------------*/

	/*------------------SOBRE------------------*/
	main .conteudoSobre{
		margin: 0px 10vw 0px 10vw;
		hyphens: auto;
		font-size: 14pt;
	}

	main .conteudoSobre.first{
		margin-top: 40px !important;
	}

	main .rect{
		margin-left: 35px;
		width: 15px;
		height: auto;
		transform: rotate(90deg);
		transition: 3s;
	}

	main .ponto{
		margin-right: 10px;
		margin-left: calc(100vw - 30px);
		margin-top: 30px;
		margin-bottom: 30px;
		width: 15px;
		height: auto;
		transition: 3s;
	}

	main .anel{
		width: 60px;
		height: auto;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 15px;
		transition: 3s;
	}

	main .rect:hover{
		margin-left: calc(100% - 66px);
		transition: 3s;
	}

	main .ponto:hover{
		margin-left: calc(10vw);
		transition: 3s;
	}

	main .anel:hover{
		margin-left: calc(100% - 75px);
		transition: 3s;
	}
	/*-----------------------------------------*/

	/*--------------INTERVENIENTES-------------*/
	body{
		line-height: normal;
	}

	main .web{
		display: none;
	}

	main .mobile{
		display: block;
	}

	main .mobile .slider{
		margin-top: 50px;
		transition: 3s;
	}

	main .mobile .slider img{
		width: 50%;
		height: auto;
		display: inline-block;
	}

	main .mobile .slider .info{
		display: inline-block;
		width: 40%;
		padding-left: 10px;
		vertical-align: top;
	}

	main .mobile .slider .info h1{
		font-size: 4.5vw;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	main .mobile .slider .info h2{
		font-size: 3.5vw;
		font-weight: normal;
		margin-top: 5px;
		margin-bottom: 0px;
	}

	main .mobile .slider .info .plus, main .mobile .slider .minus{
		font-family: '.dat', Arial, sans-serif;
		font-size: 20pt;
		font-weight: normal;
		line-height: 16pt;
		width: 16px;
		margin: 0px;
		margin-left: calc(100% - 16px);
		cursor: pointer;
	}

	main .mobile .slider .biografia{
		display: none;
		font-size: 3.5vw;
		font-weight: normal;
		width: 90%;
		padding: 10px 5% 5px 5%;
		margin: 0px;
	}

	main .mobile .slider .minus{
		display: none;
		padding-left: calc(100% - 10%);
		margin-left: 0px;
	}

	main .mobile .slider .biografia.animated, main .mobile .slider .minus.animated{
		display: block;
	}

	main .mobile .slider .info .plus.animated{
		display: none;
	}
	/*-----------------------------------------*/

	/*-----------------LOCAIS------------------*/
	body .web{
		display: none;
	}

	main .mobile{
		display: block;
	}

	main .mobile .card{
		margin-top: 50px;
		/*position: absolute;*/
	}

	main .mobile .card img{
		width: 50%;
		height: auto;
		display: inline-block;
	}

	main .mobile .card .info{
		display: inline-block;
		width: 40%;
		padding-left: 10px;
		vertical-align: top;
	}

	main .mobile .card .info h1{
		font-size: 5vw;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	main .mobile .card .info address{
		font-size: 3.2vw;
		font-weight: normal;
		font-style: normal;
		margin-top: 5px;
		margin-bottom: 0px;
	}
	/*-----------------------------------------*/

	/*----------------CONTACTOS----------------*/
	main .cards{
		width: 80%;
		margin: auto;
	}

	main .cards .card{
		margin-top: 80px;
	}

	/*-----------------------------------------*/
}