/*------------------SOBRE------------------*/
main .conteudoSobre{
	margin: 0px;
	hyphens: auto;
	font-size: 14pt;
}

main .conteudoSobre.first{
	margin-top: 15px !important;
}

main .rect{
	margin-left: 37px;
	width: 15px;
	height: auto;
	transform: rotate(90deg);
	transition: 5s;
}

main .ponto{
	margin-right: 0px;
	margin-left: calc(100% - 15px);
	margin-top: 30px;
	margin-bottom: 30px;
	width: 15px;
	height: auto;
	transition: 5s;
}

main .anel{
	width: 60px;
	height: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 0px;
	transition: 5s;
}

main .rect:hover{
	margin-left: calc(100% - 100px);
	transition: 3s;
}

main .ponto:hover{
	margin-left: 0px;
	transition: 3s;
}

main .anel:hover{
	margin-left: calc(100% - 90px);
	transition: 3s;
}

/*-----------------------------------------*/
